.u-section-1 .u-sheet-1 {
  min-height: 354px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 0.75rem;
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: -101px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: -321px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: -501px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: -701px;
  }
}